<h1 id="chewiesnake_publicationdata">chewiesnake_publicationdata</h1>
<p>Supporting data for publication of the chewieSnake software.</p>
<p>In this repository you can find the centralized chewieSnake analysis results for the study on 1263 Salmonella enterica samples (from Bioproject PRJEB31846) and the decentralized chewieSnake_join analysis on the same (artificially split) dataset.</p>
<p>The report files can be found here:</p>
<h3 id="chewiesnake">chewieSnake</h3>
<ul>
<li><a href="https://bfr_bioinformatics.gitlab.io/chewiesnake_publicationdata/chewiesnake/cgmlst_report.html">chewieSnake report</a></li>
</ul>
<h3 id="chewiesnake_join">chewieSnake_join</h3>
<ul>
<li><a href="https://bfr_bioinformatics.gitlab.io/chewiesnake_publicationdata/chewiesnake_join/report.html">chewieSnake_join overview report</a></li>
</ul>
<p>Link to three exemplary cluster reports (see Notes below)</p>
<ul>
<li><a href="https://bfr_bioinformatics.gitlab.io/chewiesnake_publicationdata/chewiesnake_join/clustering/CT_0006/clusterreport.html">chewieSnake_join cluster 0006 report</a><br /></li>
<li><a href="https://bfr_bioinformatics.gitlab.io/chewiesnake_publicationdata/chewiesnake_join/clustering/CT_0033/clusterreport.html">chewieSnake_join cluster 0033 report</a><br /></li>
<li><a href="https://bfr_bioinformatics.gitlab.io/chewiesnake_publicationdata/chewiesnake_join/clustering/CT_0046/clusterreport.html">chewieSnake_join cluster 0046 report</a></li>
</ul>
<h2 id="other-files">Other files</h2>
<p>A number of mostly tsv files can also be found in this repository. These are the input for the reports but can also be viewed (and analysed) independently of the reports.</p>
<h3 id="chewiesnake-1">chewieSnake</h3>
<p>To be found <a href="https://gitlab.com/bfr_bioinformatics/chewiesnake_publicationdata/-/tree/master/chewiesnake">here</a></p>
<ul>
<li>allele_profiles.tsv<br /></li>
<li>allele_statistics.tsv<br /></li>
<li>cgmlst_report.html<br /></li>
<li>cluster_addresses.tsv<br /></li>
<li>config_chewiesnake.yaml<br /></li>
<li>distance_matrix.tsv<br /></li>
<li>grapetree_mstree.tre<br /></li>
<li>hashids.tsv<br /></li>
<li>timestamps.tsv</li>
</ul>
<h3 id="chewiesnake_join-1">chewieSnake_join</h3>
<p>To be found <a href="https://gitlab.com/bfr_bioinformatics/chewiesnake_publicationdata/-/tree/master/chewiesnake_join">here</a></p>
<ul>
<li>allele_distance_matrix.tsv<br /></li>
<li>allele_profiles.tsv<br /></li>
<li>allelesheet_decentralizedanalysis.tsv<br /></li>
<li>allele_statistics.tsv<br /></li>
<li>clustering<br /></li>
<li>clustering_intercluster.tre<br /></li>
<li>cluster_summary.tsv<br /></li>
<li>config_chewiesnake_join.yaml<br /></li>
<li>distance_matrix.tsv<br /></li>
<li>grapetree_mstree.tre<br /></li>
<li>listofreports.txt<br /></li>
<li>mapping_sample2clustername.tsv<br /></li>
<li>mapping_sample2externalclustername.tsv<br /></li>
<li>mapping_sample2serovar.tsv<br /></li>
<li>orphan_samples.tsv<br /></li>
<li>report.html<br /></li>
<li>sample_cluster_information.tsv<br /></li>
<li>sample_orphan_information.tsv<br /></li>
<li>samples2serovars.tsv<br /></li>
<li>sender_sample_info.tsv<br /></li>
<li>timestamps.tsv</li>
</ul>
<h3 id="note">Note</h3>
<p>Due to the number of size of the individual cluster reports, not all of them are available in a rendered form. However, if you clone this repository (or download individual report files), they can be readily displayed in any browser. In general, the Chrome browser is more fluent in rendering the large reports.</p>
<ul>
<li><p>The chewieSnake reports are found in <a href="https://gitlab.com/bfr_bioinformatics/chewiesnake_publicationdata/-/tree/master/chewiesnake">https://gitlab.com/bfr_bioinformatics/chewiesnake_publicationdata/-/tree/master/chewiesnake</a></p></li>
<li><p>The chewieSnake_join reports are found in <a href="https://gitlab.com/bfr_bioinformatics/chewiesnake_publicationdata/-/tree/master/chewiesnake_join">https://gitlab.com/bfr_bioinformatics/chewiesnake_publicationdata/-/tree/master/chewiesnake_join</a></p></li>
</ul>
